// Colors
$primary-color: #b81830;
$white-primary: #ffff;

$page-section-background: #f4f4f4;

$borders: #d0d0d0;

$dark-text: #181818;
$light-text: #404040;

// Fonts
$primary-font: "Noto Sans", sans-serif;
