@import "../../../sass/variables.scss";

/* Default styles if not provided by parent, not used in this case */

.cartContainer {
  display: flex;
  align-items: center;
  height: 3.4rem;
  margin-left: 1.5rem;
  padding: 0 1.2rem;
  background-color: yellow;
  letter-spacing: 0.1rem;

  &_value {
    margin-left: 0.5rem;
  }

  &:hover {
    cursor: pointer;
  }
}
