.RegionContainer {
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;

  color: black;

  &_flag {
    width: 2.2rem;
    margin-right: 1rem;
  }
}
