@import "../../../sass/variables.scss";

.container {
  height: 3.4rem;
  background-color: $dark-text;

  font-size: 1.3rem;
  font-weight: 600;
  color: $white-primary;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.RegionContainer {
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;

  &_flag {
    width: 2.2rem;
    margin-right: 1rem;
  }
}
.rightSide {
  display: flex;
  align-items: center;
}

.icons {
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1.5rem;
}

.cartContainer {
  display: flex;
  align-items: center;
  height: 3.4rem;
  margin-left: 1.5rem;
  padding: 0 1.2rem;
  background-color: $primary-color;
  letter-spacing: 0.1rem;

  &_value {
    margin-left: 0.5rem;
  }

  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 900px) {
  .container {
    display: none;
  }
}
