@import "../../../sass/variables.scss";

.container {
  // border: thin solid blue;
  // padding: 1rem 0;
  height: 3.4rem;
  background-color: $dark-text;

  // font-family: "Noto Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftSide {
  // border: chartreuse solid thin;
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5rem;
  // justify-self: start;
  // font-size: 16px;
}
.rightSide {
  display: flex;
  align-items: center;
}

.flag {
  width: 2.2rem;
  margin-right: 1rem;
}

.icons {
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1.5rem;
}

.cart {
  display: flex;
  align-items: center;
  height: 3.4rem;
  margin-left: 1.5rem;
  padding: 0 1.2rem;
  background-color: $primary-color;
  letter-spacing: 0.1rem;

  &_value {
    margin-left: 0.5rem;
  }

  :hover {
    cursor: pointer;
  }
}
